/* ************************ */
/* **********((1216))****** */
/* ************************ */

@media (max-width:76em) {
  .nav-items {
    max-height: 100vh !important;
    overflow: scroll !important;
  }

  img.composition__photo {
    width: 30rem;
  }

  :root {
    --width-container: 105rem;
  }

  .heading--1 {
    font-size: 4rem;
  }

  .contact-box {
    padding-bottom: 6rem;
  }

  /* about */
  .section-about__img img {
    width: 40rem;
  }

  /* contact */
  .form {
    padding: 2rem 0;
    width: 85rem;
  }


}

/* ************************ */
/* **********((1120px))****** */
/* ************************ */
@media (max-width:70em) {
  :root {
    --width-container: 92rem;
  }

  html {
    font-size: 59%;
  }

  .section-home__text-div {
    gap: 1.6rem;
  }

  .composition__photo--p1 {
    top: 5%;
    left: 10%;
  }

  .composition__photo--p2 {
    left: 27%;
    top: 30%;
  }

  .composition__photo--p3 {
    bottom: 15%;
  }

  .container:not(:last-child) {
    padding: 6rem 0;
  }

  .heading--1 {
    font-size: 4rem;
  }

  .heading--2,
  h3 {
    font-size: 2.8rem;
  }

  .heading--3 {
    font-size: 3.2rem;
  }

  .section-home .container {
    /* gap: 2rem; */
  }

  .home__text-detail {
    margin: 2rem 0;
  }

  .contact-box__text,
  .contact-box__text a {
    /* flex-direction: column; */
    gap: 4rem;
    margin: 0;
  }

  .composition__photo {
    width: 33rem;
  }
}

/* ************************ */
/* **********((960px))****** */
/* ************************ */
@media (max-width:60em) {
  :root {
    --width-container: 70rem;
  }

  .about-box {
    text-align: center;
  }

  .grid--2,
  .grid--1-to-3 {
    grid-template-columns: 1fr;
  }

  .grid--3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-box {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .text-detail {
    text-align: center;
  }

  .active .open {
    z-index: 100;
    font-size: 4rem;
    display: block;
  }

  .active .close {
    z-index: 1001;
    font-size: 4rem;
  }

  .active .nav-items {
    transform: translateY(-200%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10rem 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 2rem;
    flex-direction: column;
    min-width: 100%;
    background-color: var(--color-dark);
    z-index: 500;
    transition: all .5s;
  }

  .active .nav-items .nav-items__nav-item {
    align-items: center;
    justify-content: center;
    min-width: 100%;
    left: 50%;
    text-align: center;
  }

  .active .nav-items .nav-items__nav-item a {
    font-size: 2.4rem;
    min-width: 100%;
  }

  /*  */
  .section-home .container {
    gap: 5rem;
  }

  .section-home__text-div {
    gap: 1rem;
  }

  .home__text-detail {
    margin: 1rem 0;
  }
  .change-text {
    text-align-last: center;
  }
  .section-home__text-div,
  .section-about__text,
  .contact-box__btn {
    justify-content: center;
    align-items: center;
  }

  .section-home__text-div .change-text {
    padding-right: 22rem;
  }

  .contact-box {
    padding-bottom: 2rem;
  }

  .contact-box__text {
    flex-direction: row;
  }

  .composition {
    width: 100%;
    height: 30rem;
  }

  .composition__photo {
    width: 32rem;
  }

  .composition__photo--p1 {
    top: 0;
    left: 0;
  }

  .composition__photo--p2 {
    top: 0;
    left: 55%;
  }

  .composition__photo--p3 {
    bottom: 0%;
    left: 30%;
  }

  /* about */



  .section-about .container {
    gap: 2rem;
  }

  .section-about__img img {
    width: 35rem;
  }


  .heading--1 {
    line-height: 1;
  }

  .service-box:last-child {
    grid-column: 1/-1;
  }

  .service-box {
    gap: 2rem;
  }

  .flex-c.intro {
    margin: 3rem;
  }

  .service-box .heading--4 {
    line-height: 1;
  }


  .logo-box,
  .logo-box span {
    font-size: 4rem;
  }

  /* contact */
  .form {
    width: 70rem;
  }

  .form input,
  .form textarea {
    width: 70%;
    height: 3.5rem;
    font-size: 1.4rem;
  }

  .form textarea {
    height: 10rem;
    margin-bottom: 4rem;
  }

}

/* ************************ */
/* **********((720px))****** */
/* ************************ */
@media (max-width:45em) {
  :root {
    --width-container: 52rem;
  }

  .text-detail {
    width: 93%;
  }


  .container {
    padding: 4rem 0;
  }

  .grid--3 {
    grid-template-columns: 1fr;
  }

  .composition__photo {
    width: 28rem;
    display: inline-block;
  }

  .composition__photo--p1 {
    top: 0;
    left: 0;
  }

  .composition__photo--p2 {
    top: 0;
    left: 45%;
  }

  .composition__photo--p3 {
    bottom: 0;
    left: 20%;
  }

  /* contact */
  .form {
    width: 48rem;
  }
}

/* ************************ */
/* **********((512px))****** */
/* ************************ */
@media (max-width:34em) {
  :root {
    --width-container: 40rem;
  }

  .logo-box,
  .logo-box span,
  i.open.bx,
  i.close.bx,
  a.head_links,
  .heading--3 {
    font-size: 3.2rem;
  }

  .section-home__text-div {
    gap: 1rem;
  }

  .heading--1,
  .heading--3,
  h3.skill-head.heading--3 {
    font-size: 3rem;
    line-height: 1.8;
    margin: 0;

  }

  .change-text h3,
  .heading--4 {
    font-size: 2.6rem;
    line-height: 1.2;
    text-align: center;
  }

  .text-detail {
    margin: 0;
  }

  .contact-box__text {
    flex-direction: column;
  }

  .container {
    padding: 4rem 0;
  }

  /* home */
  .section-home .container {
    gap: 2rem;
  }



  .composition__photo:hover {
    outline: .3rem solid rgb(27, 27, 27);
    transform: scale(1.02) translateY(-0.5px);
  }

  img.composition__photo {
    outline-offset: .5rem;
    width: 28rem;
  }

  .composition {
    height: 40rem;
  }


  .composition__photo--p1 {
    top: 0;
    left: 10%;
  }

  .composition__photo--p2 {
    top: 30%;
    left: 25%;
  }

  .composition__photo--p3 {
    bottom: 0;
    left: 0;
  }

  /* about */
  .section-about .container {
    gap: 3rem;
  }

  .section-about__text {
    gap: 1.5rem;
  }

  .section-about__img img {
    width: 25rem;
  }

  /* contact */
  .form {
    width: 38rem;
  }

  .container:last-child {
    text-align: center;
  }

  .heading--3:not(:first-child) {
    line-height: 1.4;
  }

  .nav-project {
    margin: 1.5rem 0;
    text-align: center;
  }

  .btn i {
    display: block;
    padding-right: 2rem;
  }
}

/* ************************ */
/* **********((400px))****** */
/* ************************ */
@media (max-width:25rem) {
  :root {
    --width-container: 34rem;
  }

  html {
    font-size: 58%;
  }

  .logo-box,
  .logo-box span {
    font-size: 3rem;
  }

  .heading--1,
  .heading--3,
  h3.skill-head.heading--3,
  .light.heading--3 {
    font-size: 2.8rem;
  }

  .change-text h3,
  .heading--4 {
    font-size: 2.4rem;
    /* color: red; */
  }

  .composition {
    height: 35rem;
  }

  img.composition__photo {
    width: 26rem;
  }

  .composition__photo--p1 {
    left: 5%;
  }

  .composition__photo--p2 {
    left: 23%;
  }

  .form {
    width: 33rem;
    gap: 1rem;
  }

  .form input {
    height: 3.5rem
  }

  .form textarea {
    margin-bottom: 3rem;
  }

  .container:last-child {
    padding: 5rem 0;
  }

}

/* ************************ */
/* **********((352px))****** */
/* ************************ */
@media (max-width:22.7rem) {
  html {
    font-size: 53%;
  }
}

/* ************************ */
/* **********((320px))****** */
/* ************************ */
@media (max-width:20rem) {
  html {
    font-size: 45%;
  }
}