/* ****************************** */
/* ****************************** */
/* *********  HEADER  *********** */
/* ****************************** */
.header {
  min-width: 100%;
  height: 7.2rem;
  background-color: var(--color-dark);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 3rem;
}

.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  border-bottom: 1px solid var(--color-dark-grey);
  z-index: 1000;
  opacity: .96;
}

.navigation {
  justify-content: space-between;
  width: 100%;
  max-width: var(--width-container);
}

.close,
.open {
  display: none;
}

.logo-box,
.logo-box span {
  font-size: 4.5rem;
}

.logo-box span {
  font-weight: bold;
  background: linear-gradient(45deg, #FF6B6B, #8A2BE2);
  background-clip: text;
  -webkit-background-clip: text;
  /* For Safari/WebKit browsers */
  color: transparent;
}

.nav-items__nav-item a {
  padding: 1rem 2rem;
  transition: all .2s ease-in-out;
  background: linear-gradient(45deg, #FF6B6B, #8A2BE2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.nav-items__nav-item a:hover {
  padding: 1rem 2rem;
  color: var(--color-light);
  text-shadow: var(--font-neon-text-shadow);
}

/* ****************************** */
/* ****************************** */
/* ******* SECTION HOME  ******** */
/* ****************************** */

.section-home {
  background-color: var(--color-dark);
  min-height: 100vh;
  padding-top: 4rem;
}

.section-home .container {
  gap: 4rem;
}

.change-text {
  font-size: 2.5rem;
  font-weight: 600;

}

.change-text h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}

.change-text h3 .word {
  position: absolute;
  display: flex;
  opacity: 0;
}

.change-text h3 .word .letter {
  transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
  transform: rotateX(90deg);
  transition: .32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
  transition: .38s ease;
}

.change-text h3 .word .letter.behind {
  transform: rotateX(-90deg);
}

.social-icons {
  gap: 2.4rem;
}

.contact-box {
  gap: 2rem;
  padding-bottom: 12rem;
}

.contact-box__text {
  gap: 2rem;
}

.contact-box__btn {
  min-width: 100%;
  gap: 3rem;
  justify-content: flex-start;
}

.social-icons .btn {
  height: 4.5rem;
  width: 4.5rem;
  position: relative;
}

.btn i {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 100%;
  width: 100%;
  font-size: 2.4rem;
}

.section-home .paragraph {
  margin-bottom: 3rem;
}

.section-home .social-icons {
  margin-bottom: 2rem;
}

/* right */


.composition {
  min-height: 100%;
  position: relative;
}

.composition__photo {
  width: 35rem;
  position: absolute;
  outline-offset: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: all 0.2s;
  opacity: .95;
}

.composition__photo:hover {
  outline: .5rem solid rgb(27, 27, 27);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  transform: scale(1.05) translateY(-0.5px);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.composition__photo--p1 {
  top: 3rem;
  left: 5%;
}

.composition__photo--p2 {
  top: 35%;
  left: 30%;
}

.composition__photo--p3 {
  bottom: 5%;
  left: 0%;
}




/* ****************************** */
/* ****************************** */
/* ******* SECTION About  ******** */
/* ****************************** */
.section-about {
  /* background-color: var(--color-light-grey); */
  color: var(--color-dark-grey);
}

.section-about .container {
  gap: 4rem;
}

.section-about__img {
  position: relative;
}

.section-about__img img {
  width: 50rem;
}

/* ****************************** */
/* ****************************** */
/* ******* SECTION SERVICES  ******** */
/* ****************************** */
.section-services {
  background: var(--color-dark);
}

.section-services__services {
  gap: 4rem;
}

.service-box {
  font-size: 1.8rem;
  color: var(--color-light-grey);
  background-color: var(--color-dark-grey);
  border-radius: .9rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.4rem;
  line-height: 1.6;
  gap: 2rem;
  transition: all .4s;
  width: 100%;
  height: 100%;
}

.section-services .intro {
  align-items: center;
  margin-bottom: 6rem;
}

.section-services__services p {
  color: var(--color-grey);
  font-size: 1.7rem;
}

.service-box:hover {
  box-shadow: 0 0 1rem .2rem rgba(116, 216, 255, 0.6);
}

.service-box:nth-child(1):hover {
  transform: translateY(-.3rem) skew(-1deg, 1deg);
}

.service-box:nth-child(3):hover {
  transform: translateY(-.3rem) skew(1deg, -1deg);
}

.service-box:nth-child(2):hover {
  transform: translateY(.3rem);
}

.service-box__icon-div {
  background-color: var(--color-dark);
  padding: 5.5rem;
  position: relative;
  outline: 3px solid var(--color-light);
  border-radius: 10rem;
  outline-offset: -1rem;
  box-shadow: var(--neon-box-shadow);
}

.service-box__icon-div i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4.4rem;
  color: var(--color-light);
  transform: translate(-50%, -50%);
}

/* ******************** */
/* ******************** */
/* section skills */
/* ******************** */

.skill-main {
  color: var(--color-dark);
  width: 100%;
  row-gap: 3rem;
  column-gap: 5rem;
}

.skill-bar {
  margin-bottom: 2.3rem;
}

.skill-main h3 {
  width: 100%;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-align: center;
}

/* skill-left */
.skill-left h3 {
  margin-bottom: 5rem;
}

.skill-bar {
  margin: 2rem 0 2.5rem;
}

.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}


.skill-left .skill-bar .bar {
  width: 100%;
  height: 1rem;
  background-color: var(--color-grey);
  border-radius: 2.5rem;
  margin-top: 1rem;
  position: relative;

}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--color-primary);
  border-radius: 2.5rem;
  box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .cpp {
  width: 85%;
  animation: cpp .6s;
}

.skill-bar .bar .frontend {
  width: 70%;
  animation: frontend .6s;
}

.skill-bar .bar .javascript {
  width: 75%;
  animation: javascript .6s;
}

.skill-bar .bar .ml {
  width: 62%;
  animation: ml .6s;
}

/* skill-right */
.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  position: relative;
  margin: 1rem 0;
  flex: 1 1 15rem;
}

.box .text {
  text-align: center;
}

.box .text big {
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  top: 45%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.box .text small {
  display: block;
  font-weight: 600;
}

.circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle .points {
  width: 2px;
  height: 1rem;
  background-color: var(--color-grey);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked {
  /* background-color: var(--color-primary); */
  animation: glow .04s linear forwards;
  animation-delay: calc(var(--i)*.03s);
}

/* ******************************* */
/* ******************************* */
/* ******************************* */
/*  projects */
/* ******************************* */
section.section-portfolio {
  background-color: var(--color-dark);
  color: var(--color-grey);
}

.portfolio .main-text {
  text-align: center;
}

.nav-project {
  min-width: 100%;
  min-height: 100%;
  margin: 3rem auto;
  gap: 2rem;
}

.button {
  background: 0;
  border: 0;
  font-size: 1.6rem;
  color: var(--color-grey);
  padding: 1rem;
  border-bottom: 1px solid transparent;
}

.button:hover {
  border-bottom: 1px solid var(--color-grey);
}

.portfolio-gallery {
  gap: 2rem;
}

.port-box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #292e33;
  display: flex;
  grid-template-rows: 1fr auto;
  align-items: center;
  border: 2px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  height: 100%;
}

.port-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.port-image img {
  width: 100%;
  height: 100%;
  opacity: .5s;
  transition: .5s;
}

.port-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(rgba(4, 15, 15, 0.8), rgba(0, 0, 0, .9));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: .5s;
  padding: 0 2rem;
  color: var(--color-light-grey);
}

.port-content h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.port-content p {
  font-size: 1.4rem;
  margin: 5px 0 15px 0;
}

.port-content a {
  background: var(--color-light);
  border-radius: 50rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--color-dark);
  outline: 2px solid var(--color-light);
}

.port-content a i {
  font-size: 2rem;
  color: var(--color-dark);
}

.port-box:hover .port-content {
  opacity: 1;
}

.port-box:hover .port-image img {
  transform: scale(1.1);
}


/* Contact us */
.section-contact-us {
  /* background-color: var(--color-grey); */
}

.form {
  padding: 4rem 0;
  width: 100rem;
  background: linear-gradient(to left bottom,
      rgba(41, 46, 51, 0.7),
      rgba(11, 11, 11, 0.75) 80%),
    url('./../img/form-back.jpg') center/cover no-repeat;

  position: relative;
  border-radius: 1.5rem;

  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}


.form input,
.form textarea {
  border: none;
  border-radius: 3rem;
  width: 60%;
  padding: .5rem;
  color: var(--color-light-grey);
  font-size: 1.6rem;
  background-color: var(--color-dark);
  display: inline-block;
  padding: 1rem 3rem;
  resize: none;
}

.form textarea {
  border-radius: 1rem;
}

.form input:focus,
.form textarea:focus {
  outline: 2px dashed var(--color-grey);
}

.btn-form,
.btn-form:link,
.btn-form:visited {
  color: var(--color-grey);
  border-color: var(--color-dark-grey);
  background-color: var(--color-dark);
  border: 0;
}

.btn-form:hover,
.btn-form:active {
  border: 0;
  color: var(--color-grey);
}


/* footer */
.section.section-footer {
  background-color: var(--color-dark);
  color: var(--color-grey);
}

.container-footer {
  font-size: 1.8rem;
  height: 8rem;
  padding: 0;
  color: var(--color-grey);
  justify-content: space-between;
}

.flex.btn.btn--light.bottom-btn {
  height: 4rem;
  width: 4rem;
}