.paragraph {
  color: var(--color-grey);
  font-size: var(--font-sm);
  line-height: 1.6;
  display: inline-block;
  font-weight: normal;
}

.heading--1 {
  font-weight: bold;
  background: linear-gradient(65deg, #ff6b6bcf, #892be2ce);
  background-clip: text;
  -webkit-background-clip: text;
  /* For Safari/WebKit browsers */
  color: transparent;
  font-size: 4.5rem;
}

.heading--2 {
  font-size: 3.5rem;
}

.heading--5 {
  font-size: 1.6rem;
  color: var(--color-dark);
}

.heading--3 {
  font-size: 3.8rem;
  color: var(--color-dark);
}

.heading--4 {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 2.6rem;
}

.para-body {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 300;
  color: var(--color-dark);
}

p.text-dark {
  color: var(--color-dark);

}

.text-centre {
  text-align: center;
}

.light.heading--5 {
  font-weight: normal;
  color: var(--color-grey)
}

.light.heading--3 {
  color: var(--color-grey);
}